<!DOCTYPE html>
<html>
  <head>
    <title>Ideas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <%= flash[:notice] || flash[:alert] %>
  <%= link_to "New Idea?", new_idea_path(@idea) %>

  |

  <%= link_to "All ideas", ideas_path(@idea) %>

  |
  
  <%if user_signed_in? %>
  Hello <%= current_user.full_name %>,
  <%= link_to 'Log out', session_path, method: :delete %>
  <% else %>
  |
  <%= link_to 'Sign UP', new_user_path %>
  |
  <%= link_to "Login", new_session_path%> 
  <% end %>
  <hr>
    <%= yield %>
  </body>
</html>
